@charset "utf-8";

/*
	文字サイズと行間の一括指定
*/
@mixin fontSize ($size: 1, $line: 1.5) {
	font-size: $size * 10 + px;
	font-size: $size + rem;
	line-height: $size * $line * 10 + px;
	line-height: $size * $line + rem;
}